@{
    ViewData["Title"] = "Judicial Guidance";
}



<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Judicial Guidance</li>
  </ol>
</nav>

<div class="card mb-3 highlight-border">

      <div class="card-body">

          <div class="row">
              
           
              <div class="col-md-8">
         
        <h1>Judicial Guidance</h1>
        <p class="lead">Latest information, eLetters, JSB Briefings and correspondence from Ministry of Justice and the Courts Services.</p>
      </div>
      
      <div class="col-md-4" >
          <div class="align-content-center">
           <img src="~/img/600-Lawyer.jpg" alt="Lawyer with pen writing" class="img-fluid rounded"/></div>
    </div>
      
    </div>
          </div></div>


  <div class="row">
    <div class="col-md-4">

 <div class="mb-3 row">
 <div class="col-sm-10">
     <div class="form-group">
    <label for="inputPassword" class="form-label">Search by keyword</label>
      <input type="text" class="form-control" id="inputKeyword">
    </div>
 




<div class="accordion mt-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filter by subject
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
            <ul class="list-unstyled" id="">
      <li class=""><a href="#" rel="nofollow" class="" id="subject1">Brexit (41)</a></li>
      <li class=""><a href="#" rel="nofollow" class="" id="subject1">Conduct (20)</a></li>
      <li class=""><a href="#" rel="nofollow" class="" id="subject1">Reporting restrictions (10)</a></li>
      <li class=""><a href="#" rel="nofollow" class="" id="subject1">Retirement, pay and pensions (62)</a></li>

</ul>
      
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Filter by date
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <ul class="list-unstyled" id="">
                            <li class=""><a href="#" rel="nofollow" class="" id="pubdate1">2022 (30)</a></li>
                             <li class=""><a href="#" rel="nofollow" class="" id="pubdate2">2021 (30)</a></li>
                              <li class=""><a href="#" rel="nofollow" class="" id="pubdate3">2020 (22)</a></li>
                               <li class=""><a href="#" rel="nofollow" class="" id="pubdate4">2019 (12)</a></li>
                                <li class=""><a href="#" rel="nofollow" class="" id="pubdate5">2018 (17)</a></li>
                                 <li class=""><a href="#" rel="nofollow" class="" id="pubdate6">2017 (120)</a></li>
</ul></div>
    </div>
  </div>

</div>



 </div>
</div>




</div> 


      <div class="col-md-8 ">


<p class="lead">120 results returned from the following filters</p>

<div class="form-group mb-3">

<button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg> Review</button> 
<button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg> 2012</button>
<button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg> Retirement, pay and pensions</button>
</div>



<div class="card  mb-3"><div class="card-body">

      <h3><a href="#">Judicial Pensions Newsletter - Issue 6, Apr/May 2022
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    12 April 2022
  </dd>
</dl>
 </div>
  </div>
  
<div class="card  mb-3"><div class="card-body">

      <h3><a href="#">Message from MoJ: Update on Sitting in Retirement (SIR) Consultation
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    5 April 2022
  </dd>
</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="#">MoJ: Judicial Pensions Webinar
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    18 Mar 2022
  </dd>

</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">In the matter of Bedford Hotel Limited (In administration) in the matter of the Insolvency (Northern Ireland) Order 1989
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    14 June 2022
  </dd>

</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">In the matter of Bedford Hotel Limited (In administration) in the matter of the Insolvency (Northern Ireland) Order 1989
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    14 June 2022
  </dd>

</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">In the matter of Bedford Hotel Limited (In administration) in the matter of the Insolvency (Northern Ireland) Order 1989
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    14 June 2022
  </dd>

</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">In the matter of Bedford Hotel Limited (In administration) in the matter of the Insolvency (Northern Ireland) Order 1989
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    14 June 2022
  </dd>

</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">In the matter of Bedford Hotel Limited (In administration) in the matter of the Insolvency (Northern Ireland) Order 1989
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    14 June 2022
  </dd>

</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">In the matter of Bedford Hotel Limited (In administration) in the matter of the Insolvency (Northern Ireland) Order 1989
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    14 June 2022
  </dd>


</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">In the matter of Bedford Hotel Limited (In administration) in the matter of the Insolvency (Northern Ireland) Order 1989
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    14 June 2022
  </dd>

  <dt class="col-sm-2">Ref</dt>
  <dd class="col-sm-10">[2022] NICh 10</dd>

</dl>
 </div>
  </div>     
  
        <div class="card  mb-3"><div class="card-body">
  
  <h3><a href="#">Judicial Pensions Newsletter - Issue 6, Apr/May 2022
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    12 April 2022
  </dd>
</dl>
 </div>
  </div>
  
<div class="card  mb-3"><div class="card-body">

      <h3><a href="#">Message from MoJ: Update on Sitting in Retirement (SIR) Consultation
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    5 April 2022
  </dd>
</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="#">MoJ: Judicial Pensions Webinar
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    18 Mar 2022
  </dd>

</dl>
 </div>
  </div>

        <div class="card  mb-3"><div class="card-body">

        <h3><a href="#">Judicial Pensions Newsletter - Issue 6, Apr/May 2022
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    12 April 2022
  </dd>
</dl>
 </div>
  </div>

  
<div class="card  mb-3"><div class="card-body">

      <h3><a href="#">Message from MoJ: Update on Sitting in Retirement (SIR) Consultation
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    5 April 2022
  </dd>
</dl>
 </div>
  </div>

      <div class="card  mb-3"><div class="card-body">

      <h3><a href="#">MoJ: Judicial Pensions Webinar
</a></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date</dt>
  <dd class="col-sm-10">
    18 Mar 2022
  </dd>

</dl>
 </div>
  </div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>



<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        BREXIT (6)
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <ul>
           <li><a href="#">12/04/2021 - Brexit update 20 - 2022</a></li>
           <li><a href="#">12/04/2021 - Brexit update 20 - 2022</a></li>
           <li><a href="#">12/04/2021 - Brexit update 20 - 2022</a></li>
           <li><a href="#">12/04/2021 - Brexit update 20 - 2022</a></li>
           <li><a href="#">12/04/2021 - Brexit update 20 - 2022</a></li>
           <li><a href="#">12/04/2021 - Brexit update 20 - 2022</a></li>
           <li><a href="#">Older items</a></li>
       </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Conduct (3)
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
              <ul>
           <li><a href="#">12/04/2021 - Code on complaints - Complaints form</a></li>
           <li><a href="#">12/04/2021 - Statement of ethics</a></li>
           <li><a href="#">12/04/2021 - Protocol on discipline</a></li>
           <li><a href="#">Older items</a></li>
       </ul>
       </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Reporting restrictions (3)
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
                     <ul>
           <li><a href="#">12/04/2021 - Reporting restrictions procedure/a></li>
           <li><a href="#">12/04/2021 - JSB Guide on Reporting Restriction</a></li>
           <li><a href="#">12/04/2021 - Reporting - anonymisation</a></li>
           <li><a href="#">Older items</a></li>
       </ul></div>
    </div>
  </div>
</div></div></div>