@{
    ViewData["Title"] = "Home Page";
}



<div class="card mb-3 highlight-border">

      <div class="card-body">

          <div class="row">
              
           
              <div class="col-md-8">
         
        <h1 class="display-4">NI Judicial Intranet</h1>
        <p class="lead">Welcome to the Judiciary NI intranet & library.<br />Here you'll find latest information, eLetters, JSB Briefings and correspondence from Ministry of Justice and the Courts Services.</p>
      </div>
      
      <div class="col-md-4">
          <div class="align-content-center">
           <img src="~/img/600-Lawyer.jpg" alt="Lawyer with pen writing" class="img-fluid rounded mx-auto d-block" />
           
       </div>
    </div>
      
    </div>
          </div></div>




    
  <div class="row">


    <div class="col-lg-3 col-md-4">
<aside role="complementary">
        <h2>Quick links</h2>

<div class="list-group col-lg-10 col-md-12 mb-3"><strong>
  <a href="#" class="list-group-item list-group-item-action">Bench Books</a>
    <a href="#"  class="list-group-item list-group-item-action">Conference Reports</a>
      <a href="#"  class="list-group-item list-group-item-action">eLetters</a>
        <a href="#"  class="list-group-item list-group-item-action">Journals</a>
      <a href="#"  class="list-group-item list-group-item-action">Judicial Papers</a>
          <a class="list-group-item list-group-item-action">JSB Briefings</a>
  <a href="#" class="list-group-item list-group-item-action">NI Court Rules</a>
  <a href="#" class="list-group-item list-group-item-action">Legislation</a>
  <a href="#" class="list-group-item list-group-item-action">Practice Directions</a>
  <a href="#"  class="list-group-item list-group-item-action">Sentencing Guidelines</a>
  <a href="#"  class="list-group-item list-group-item-action">Sittings</a>
</strong></div>
</aside>


    </div>
    <div class="col-lg-6 col-md-8">


  <h2>Recently added</h2>
  
<div class="card highlight-border">
  <div class="card-body">

<ul class="list-unstyled">
    <li>
      <h3 class="fs-4"><a href="#">Judicial Pensions Newsletter - Issue 6, Apr/May 2022
</a></h3>  
<p>12 Ap 2022</p></li>

<li>
      <h3 class="fs-4"><a href="#">Criminal Law Update
</a></h3>  
<p>12 Dec 2021</p></li>

    <li>
      <h3 class="fs-4"><a href="#">Judicial Pensions Newsletter - Issue 6, Apr/May 2022
</a></h3>  
<p>12 Apr 2022</p></li>
<li>
      <h3 class="fs-4"><a href="#">JSB Minutes March 2022
</a></h3>  
<p>20 Mar 2022</p></li>
<li>
      <h3 class="fs-4"><a href="#">Criminal Law Update
</a></h3>  
<p>12 Dec 2021</p></li>

    <li>
      <h3 class="fs-4"><a href="#">Judicial Pensions Newsletter - Issue 6, Apr/May 2022
</a></h3>  
<p>12 Apr 2022</p></li>

<li>
      <h3 class="fs-4"><a href="#">JSB Minutes March 2022
</a></h3>  
<p>20 Mar 2022</p></li>


</ul>

</div>
</div>

<div class="card mt-3 mb-3">
  <div class="card-body">
      <h2>Judgments</h2>
    <h3 class="fs-4"><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">In the matter of Bedford Hotel Limited (In administration) in the matter of the Insolvency (Northern Ireland) Order 1989</a>
    </h3>
    <p class="card-text">14 June 2022 at 4.00pm<br>Scoffield J</p>

    <a href="#" class="btn btn-primary">View recent judgements</a>
  </div>
</div>





</div>


    <div class="col-lg-3 col-md-8  offset-md-4 offset-lg-0">

        <h2>Upcoming events</h2>

<div class="card bg-light">
  <div class="card-body">
    <h4 class="">Forensic Science Training Event</h4>
    <p class="card-text">19 May 2022 at 4.00pm<br>Forensic Science NI Staff</p>

     <h4 class="">JSB Sightlink and other online platforms Training Event</h4>
    <p class="card-text">17 Feb 2022 at 4.00pm<br>Gareth Herron/Pamela Reid</p>

    <a href="#" class="btn btn-primary">Training archive</a>
  </div>
</div>




    </div>
  </div>

