@{
    ViewData["Title"] = "Publications";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Publications</li>
    <li class="breadcrumb-item active" aria-current="page">NI Court Rules</li>
  </ol>
</nav>

<div class="card mb-3 highlight-border">

      <div class="card-body">
        

   <div class="row">
              
           
              <div class="col-md-8">
         
        <h1>Publications</h1>
        <p class="lead">This section includes much of the reference material in our Library, including Bench Books, Court Rules, Journals and Sentencing Guidelines.</p>
        <p class="card-text">Search the Publications using the filters below.</p>
      </div>
      
      <div class="col-md-4">
          <div class="align-content-center">
           <img src="~/img/600-Lawyer.jpg" alt="Lawyer with pen writing" class="img-fluid rounded"/></div>
    </div>
      
    </div>


      </div>
    </div>


  <div class="row">
    <div class="col-md-4">



 <div class="mb-3 row">
 <div class="col-sm-10">
     <div class="form-group">
    <label for="inputPassword" class="form-label">Search by keyword</label>
      <input type="text" class="form-control" id="inputKeyword">
    </div>
 




<div class="accordion mt-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filter by publication type
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
  <ul class="list-unstyled" id="">
      <li class=""><a href="#" rel="nofollow" class="" id="pubtype1">NI Court Rules (18)</a></li>
      <li class=""><a href="#" rel="nofollow" class="" id="pubtype1">Sentencing Guidelines (22)</a></li>
            <li class=""><a href="#" rel="nofollow" class="" id="pubtype1">Bench Books (100)</a></li>
                  <li class=""><a href="#" rel="nofollow" class="" id="pubtype1">Journals (220)</a></li>
      <li class=""><a href="#" rel="nofollow" class="" id="pubtype1">Judicial Papers (120)</a></li>
            <li class=""><a href="#" rel="nofollow" class="" id="pubtype1">Reports (240)</a></li>
                  <li class=""><a href="#" rel="nofollow" class="" id="pubtype1">Speeches (62)</a></li>
                        <li class=""><a href="#" rel="nofollow" class="" id="pubtype1">Event Papers (202)</a></li>
</ul>
      
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Filter by date
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <ul class="list-unstyled" id="">
                            <li class=""><a href="#" rel="nofollow" class="" id="pubdate1">2022 (300)</a></li>
                             <li class=""><a href="#" rel="nofollow" class="" id="pubdate2">2021 (300)</a></li>
                              <li class=""><a href="#" rel="nofollow" class="" id="pubdate3">2020 (220)</a></li>
                               <li class=""><a href="#" rel="nofollow" class="" id="pubdate4">2019 (120)</a></li>
                                <li class=""><a href="#" rel="nofollow" class="" id="pubdate5">2018 (170)</a></li>
                                 <li class=""><a href="#" rel="nofollow" class="" id="pubdate6">2017 (120)</a></li>
</ul></div>
    </div>
  </div>

</div>



 </div>
</div>



    </div>

      <div class="col-md-8 ">


<p class="lead">20 results returned from the following filters</p>

<div class="form-group mb-3">

<button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg> NI Court Rules</button> 
<button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg> 2012</button>

</div>



<div class="card  mb-3">
    

            <div class="card-body">

<svg xmlns="http://www.w3.org/2000/svg"  fill="#CCCCCC" class="bi bi-book m-2 float-end" viewBox="0 0 16 16" width="80">
  <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
</svg>
      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">Rules of the Court of Judicature</a></h3>

        <dl class="row mb-0">
  <dt class="col-sm-3">Date</dt>
  <dd class="col-sm-9">
    14 June 2022
  </dd>

  <dt class="col-sm-3">Author/Publisher</dt>
  <dd class="col-sm-9">TSO</dd>

</dl>

  </div>
</div>


  <div class="card  mb-3">
    
    
            <div class="card-body">

                <svg xmlns="http://www.w3.org/2000/svg" width="80"  fill="#CCCCCC" class="bi bi-file-earmark-text float-end m-2" viewBox="0 0 16 16">
  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
</svg>

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">Crown Court Rules</a></h3>

        <dl class="row mb-0">
  <dt class="col-sm-3">Date</dt>
  <dd class="col-sm-9">
    14 June 2022
  </dd>
  <dt class="col-sm-3 text-truncate">Author/Publisher</dt>
  <dd class="col-sm-9">
    TSO
  </dd>
</dl>

 </div>
  </div>
  


  <div class="card  mb-3">
    
    
            <div class="card-body">

                <svg xmlns="http://www.w3.org/2000/svg" width="80"  fill="#CCCCCC" class="bi bi-file-earmark-text float-end m-2" viewBox="0 0 16 16">
  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
</svg>

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">County Court Rules</a></h3>

        <dl class="row mb-0">
  <dt class="col-sm-3">Date</dt>
  <dd class="col-sm-9">
    14 June 2022
  </dd>
  <dt class="col-sm-3 text-truncate">Author/Publisher</dt>
  <dd class="col-sm-9">
    TSO
  </dd>
</dl>
  
</div>
  </div>

  <div class="card  mb-3">
    
    
            <div class="card-body">

<svg xmlns="http://www.w3.org/2000/svg" width="80"  fill="#CCCCCC" class="bi bi-journal-text flex-sm-wrap float-end" viewBox="0 0 16 16">
  <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
  <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
  <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
</svg>

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">Family Proceedings Rules</a></h3>

        <dl class="row mb-0">
  <dt class="col-sm-3">Date</dt>
  <dd class="col-sm-9">
    14 June 2022
  </dd>
  <dt class="col-sm-3 text-truncate">Author/Publisher</dt>
  <dd class="col-sm-9">
    TSO
  </dd>
</dl>

 </div>
  </div>
 

    <div class="card  mb-3">
    
  
            <div class="card-body">

<svg xmlns="http://www.w3.org/2000/svg" width="80" fill="#CCCCCC" class="bi bi-newspaper m-2 float-end" viewBox="0 0 16 16">
  <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
  <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
</svg>

      <h3><a href="https://www.judiciaryni.uk/judicial-decisions/2022-nich-10">Magistrates' Court Rules</a></h3>

        <dl class="row mb-0">
  <dt class="col-sm-3">Date</dt>
  <dd class="col-sm-9">
    14 June 2022
  </dd>
  <dt class="col-sm-3 text-truncate">Author/Publisher</dt>
  <dd class="col-sm-9">
    TSO
  </dd>
</dl>

 </div>
  </div>
  

  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>





      </div>
</div>