@{
    ViewData["Title"] = "Training";
}


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Training</li>
  </ol>
</nav>

<div class="card mb-3 highlight-border">
 

      <div class="card-body">
     
             <div class="row">
        <div class="col-md-8">
             <h1>Training</h1>
        <p class="lead">Training events from the Judicial Studies Board for Northern Ireland.</p>
        <p> You can search for events and event papers by keyword, subject and date below.<br>Upcoming events are marked with a green badge beside the event name.</p>
       </div>

              <div class="col-md-4" style="border-left:5px solid #DDD">
            <ul class="list-unstyled fs-4">
                <li><a href="">About Judicial Studies Board NI</a></li>
                <li><a href="">JSB Briefings</a></li>
            </ul>
        </div>
    </div>
      </div>
    </div>


  <div class="row">
    <div class="col-md-4">


 <div class="mb-3 row">
 <div class="col-sm-10">
     <div class="form-group">
    <label for="inputPassword" class="form-label">Search by keyword</label>
      <input type="text" class="form-control" id="inputKeyword">
    </div>
 




<div class="accordion mt-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filter by subject
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
            <ul class="list-unstyled" id="">
      <li class=""><a href="#" rel="nofollow" class="" id="subject1">Criminal (20)</a></li>
      <li class=""><a href="#" rel="nofollow" class="" id="subject2">Civil (40)</a></li>
            <li class=""><a href="#" rel="nofollow" class="" id="subject3">Family (22)</a></li>
                  <li class=""><a href="#" rel="nofollow" class="" id="subject4">Judgecraft (15)</a></li>
      <li class=""><a href="#" rel="nofollow" class="" id="subject5">Annual address (18)</a></li>
</ul>
      
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Filter by date
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <ul class="list-unstyled" id="">
                            <li class=""><a href="#" rel="nofollow" class="" id="pubdate1">2022 (30)</a></li>
                             <li class=""><a href="#" rel="nofollow" class="" id="pubdate2">2021 (30)</a></li>
                              <li class=""><a href="#" rel="nofollow" class="" id="pubdate3">2020 (22)</a></li>
                               <li class=""><a href="#" rel="nofollow" class="" id="pubdate4">2019 (12)</a></li>
                                <li class=""><a href="#" rel="nofollow" class="" id="pubdate5">2018 (17)</a></li>
                                 <li class=""><a href="#" rel="nofollow" class="" id="pubdate6">2017 (120)</a></li>
</ul></div>
    </div>
  </div>

</div>



 </div>
</div>


    </div>

      <div class="col-md-8 ">


<p class="lead">20 results returned from the following filters</p>

<div class="form-group mb-3">

<button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg> Criminal</button> 
<button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
</svg> 2012</button>

</div>


<div class="card mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event <span class="badge bg-success">Upcoming</span></h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>
  </div>
  
<div class="card  mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event</h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>
  </div>

  
<div class="card  mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event</h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>
  </div>

  
<div class="card  mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event</h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>
  </div>

  
<div class="card  mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event</h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>
  </div>

  
<div class="card  mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event</h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>
  </div>

  
<div class="card  mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event</h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>
  </div>

  
<div class="card  mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event</h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>
  </div>

  
<div class="card  mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event</h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>
  </div>

  
<div class="card  mb-3"><div class="card-body">

      <h3>Forensic Science NI Training Event</h3>  
        <dl class="row mb-0">
  <dt class="col-sm-2">Date/time</dt>
  <dd class="col-sm-10">19 May 2022 at 4.00pm</dd>

  <dt class="col-sm-2">Speaker(s)</dt>
  <dd class="col-sm-10">
    Forensic Science NI Staff
  </dd>

  <dt class="col-sm-2">Venue</dt>
  <dd class="col-sm-10">Online</dd>

  <dt class="col-sm-2 text-truncate">Delegates</dt>
  <dd class="col-sm-10">All Judiciary</dd>

    <dt class="col-sm-2 text-truncate">Papers</dt>
  <dd class="col-sm-10">
      <ul class="mb-0">
          <li><a href="#">Forensic Science NI - Its role and context</a></li>
          <li><a href="#">Habitual residence of children - Dervla Browne</a></li>
          <li><a href="#">Hague Conventions - and the rest - post-Brexit - Professor Rebecca Bailey-Harrie</a></li>
      </ul>
  </dd>

</dl></div>




  </div></div></div>